<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:insert="fragments/resources :: headResources('Photo List')">

</head>

<body>
<nav th:replace="fragments/navbar :: topNavbar('photos')"></nav>
<div class="container mt-5">

    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1>Lista foto</h1>
        <form th:action="@{/photos}" method="GET">
            <div class="input-group">
                <input
                        type="text"
                        placeholder="Ricerca per titolo"
                        class="form-control" name="search"
                        th:value="${param.search}"
                >
                <button class="btn btn-primary" type="submit">Ricerca</button>
            </div>

        </form>
    </div>

    <div class="my-3">
        <a th:href="@{/photos/create}" class="btn btn-primary">Aggiungi una nuova foto</a>
    </div>

    <table class="table">
        <thead >
        <tr>
            <th>Titolo</th>
            <th>Immagine</th>
            <th>Visibilità</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="photo : ${photoList}" th:object="${photo}">
            <td th:text="*{title}"></td>
            <td><img th:src="*{photo_url}" style="max-width: 200px; max-height: 100px;"/></td>
            <td th:text="${photo.visible ? 'Visible' : 'Invisible'}"></td>
            <td>
                <a class="text-dark fs-5" th:href="@{/photos/show/{id}(id=*{id})}" title="details"><i class="fa-solid fa-magnifying-glass"></i></a>
            </td>
            <td>
                <a class="text-dark fs-5" th:href="@{/photos/edit/{id}(id=*{id})}" title="edit"><i class="fa-solid fa-pen-to-square"></i></a>
            </td>
            <td>
                <form th:action="@{/photos/delete/{id}(id=*{id})}" method="POST" onsubmit="return confirm('Sei sicuro di eliminare?')">

                    <button type="submit" class="btn bg-danger text-light"><i class="fa-solid fa-trash"></i></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>




</div>


</body>
</html>